<% include partials/header %>

<% include partials/navbar %>

<% include partials/indexJumbotron %>

<div class="container py-10">
    <div id="Post" class="row d-flex justify-content-center">
        <% for(var i = 0; i < data.length; i++){ %>
            <div class="card w-75">
                <img src="<%= data[i]['img'] %>" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title"><%= data[i]['title'] %></h5>
                  <p class="card-text"><%= data[i]['content'] %></p>
                </div>
                <div class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-around"><a href="/editPage/<%=data[i]['id_post']%>" class="btn btn-warning mr-3">Edit</a>
                            <a href="/deletePost/<%=data[i]['id_post']%>" class="btn btn-danger">Delete</a></li>
                    </div>
                <div class="card-footer">
                            <small> <span class='text-muted'>Author: </span><%= data[i]['author'] %> </small>
                </div>
            </div>
        <%}%>
    </div>    
</div>


<% include partials/footer %>