<% include partials/header %>
    <div class="text-center mb-4"><h1>Index page!</h1></div>
    
    <div class="container">

    <% blogs.forEach((blog)=>{%>
        <div class="card mb-4" style="width: 22rem">
            <img src="<%=blog.image%>" class="card-img-top">
            <div class="card-header">
                <h2><%=blog.title%></h2>
            </div>
            <div class="card-body">
                <p><%-blog.body%></p>
                <small><%=blog.created.toDateString()%></small> <br><br>
                <a href="/blogs/<%=blog._id%>" class="btn btn-info">Read More</a>
            </div>
        </div>
    <%})%>

    </div>

<% include partials/footer %>